<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RTSP Stream</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>
</head>
<body>
    <img id="video_feed" width="640" height="480"/>

    <script type="text/javascript">
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('frame', function(data) {
            var image = document.getElementById('video_feed');
            image.src = 'data:image/jpeg;base64,' + data.image;
        });
    </script>
</body>
</html>
